<h1 align="center">This is my new page</h1>
<h2 align="center"> This is the second line </h2>
<h3 align="left"> <%= link_to "****See messages", posts_path %></h3>
<h3 align="right"> <%= link_to "Write messages****", new_post_path %></h3>
<p text-shadow: 5px 5px #FF0000;>
  <marquee
  direction="right"
  align="top"
  >Designed by Chris Birie
  </marquee>
</p>
